@page
@model UploadFile.Pages.LectureMaterialCreateModel

@{
    ViewData["Title"] = "LectureMaterialCreateModel";
}

<h1>LectureMaterial Document Create</h1>

<h4>Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LectureMaterials.Number" class="control-label"></label>
                <input asp-for="LectureMaterials.Number" class="form-control" />
                <span asp-validation-for="LectureMaterials.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LectureMaterials.Reference" class="control-label"></label>
                <input asp-for="LectureMaterials.Reference" class="form-control" />
                <span asp-validation-for="LectureMaterials.Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LectureMaterials.Name" class="control-label"></label>
                <input asp-for="LectureMaterials.Name" class="form-control" />
                <span asp-validation-for="LectureMaterials.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LectureMaterials.Date" class="control-label"></label>
                <input asp-for="LectureMaterials.Date" class="form-control" />
                <span asp-validation-for="LectureMaterials.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="LectureMaterialIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
